.playlist {
  margin-top: 1.8rem;

  &--loading {
    height: 100vh;
    display:flex;
    align-items: center;   
    justify-content: center; 
  }

  &__header {
    display: flex;
    align-items: center;

    img {
      width: 13.75rem;
      height: 13.75rem;
    }

    div {
      margin-left: 2rem;
    }

    span {
      font-size: 1rem;
      letter-spacing: 1.11px;
      font-weight: 300;
    }

    h1 {
      margin-top: 1rem;
      font-size: 3rem;
    }

    p {
      margin-top: 0;
      color: #b3b3b3;
      font-size: 1.1rem;
      // text-transform: uppercase;
    }

    button {
      background: #1db854;
      height: 32px;
      border-radius: 16px;
      color: #fff;
      line-height: 32px;
      padding: 0 35px;
      border: 0;
      margin-top: 10px;
      font-size: 1rem;
      letter-spacing: 1.11px;
    }
  }

  &__song-list {
    width: 100%;
    text-align: left;
    margin-top: 20px;

    thead {
      th {
        font-size: 1rem;
        color: #b3b3b3;
        letter-spacing: 1.11px;
        font-weight: normal;
        text-transform: uppercase;
        padding: 5px 10px;

        &:last-child {
          text-align: right;
        }
      }
    }

    tbody {
        td {
            border-top: 1px solid #282828;
            font-size: 13px;
            padding: 0 10px;
            line-height: 40px;

            &:first-child {
                width: 80px;
                text-align: right;
            }

            &:last-child {
                text-align: right;
            }
        }

        tr:hover td {
            background: #282828;
        }
    }
  }
}
